.footer-todo{
    border-top: 2px solid #adadad;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-todo button{
    font-size: 18px;
}
.footer-todo button:hover{
    cursor: pointer;
}
.footer-btn{
    margin: 0 10px;
}
.footer-btn span{
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
}
.footer-btn span:hover{
    cursor: pointer;
}
.footer-btn span:first-child{
    color: red;
}