* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  height: 100vh;
}
main {
  width: 1200px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  padding: 20px;
  background-color: #fff;
}
.main__head {
  width: 100%;
  background-color: rgb(35, 124, 192);
  color: white;
  padding: 10px 20px;
}
.main__body {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #dadada;
  margin: 1em 0;
}
.form-group {
  width: 100%;
}
.form-group label {
  float: left;
  width: 15%;
  text-align: right;
  font-weight: bold;
}
.form-group input {
  width: 70%;
  padding: 0.5em;
  margin-left: 1em;
  margin-top: .5em;
  font-size: 15px;
}
.button {
  margin: 0.5em 0 0.5em 12em;
}
span{
  margin-left: 12em;
  color: red;
}
button {
  margin-right: 0.25em;
}
.btn {
  width: 7em;
  padding: 5px;
  cursor: pointer;
}
.btn-sm {
  width: 4em;
  padding: 5px;
}
#closeSearch{
    float: right;
}
.main__list--students {
  margin: 2em 0;
}
table {
  border-collapse: collapse;
  border: 2px solid #dadada;
  width: 100%;
}

tr {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
th{
    padding: 10px;
    border-bottom: 2px solid #dadada;
}
td {
  padding: 5px 0;
}

.detail{
  display: none;
  width: 800px;
  margin: 0 auto;
  background-color: #dcf6f8;
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 25%;
}
.detail__body{
  text-align: center;
  margin: 20px;
}
.main__head{
  display: flex;
  justify-content: space-between;
}
.closeDetail:hover{
  cursor: pointer;
}
.seachStudent{
  display: flex;
  margin-bottom:5px ;

}
.seachStudent input{
  width: 100%;
  padding: 5px 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid #dadada;
}
#btn_update{
  display: none;
}